# Environment
NODE_ENV=production
PORT=8001

# Database
DATABASE_URL="postgresql://docker:docker@postgres:5432/valora?schema=public"

# Auth
JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""

# GitHub
GITHUB_OAUTH_CLIENT_ID=""
GITHUB_OAUTH_CLIENT_SECRET=""
GITHUB_OAUTH_CLIENT_REDIRECT_URI="http://localhost:8080/api/auth/callback"

# Email service
RESEND_API_KEY=""

# Storage
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Cache
REDIS_URL="redis://redis:6379/0"

# Frontend
FRONTEND_BASE_URL="http://localhost:8080"

# Monitoring
SENTRY_DSN=""
